<div class="container">
  <div class="awards">
    <div class="awards__img">
      <img [src]="awards[activeAwardIndex].img" width="100%" alt="">
      <p>{{ awards[activeAwardIndex].desc }}</p>
    </div>
    <div class="awards__text">
      <div class="awards__items">
        <div class="awards__item" *ngFor="let award of awards; index as i" (click)="setActiveAward(i)">
          <p [class.active]="activeAwardIndex === i">{{ award.title }}</p>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>
</div>