<div class="persons">

  <div class="persons__item">
    <img src="/assets/contact-persons/contact-persons-ewelina.jpg" alt="">
    <h5>Biuro - Ewelina (informacje)</h5>
    <div class="persons__phone">
      <img src="/assets/images/phone.svg" alt="">
      <span>518 734 207</span>
    </div>
    <p>(русский, English)</p>
  </div>

  <div class="persons__item">
    <img src="/assets/contact-persons/contact-persons-emilia.jpg" alt="">
    <h5>Biuro - Emilia (informacje)</h5>
    <div class="persons__phone">
      <img src="/assets/images/phone.svg" alt="">
      <span>519 466 493</span>
    </div>
    <p>(русский)</p>
  </div>

  <div class="persons__item">
    <img src="/assets/contact-persons/contact-persons-piotr.jpg" alt="">
    <h5>Piotr (kierownik gospodarstwa)</h5>
    <div class="persons__phone">
      <img src="/assets/images/phone.svg" alt="">
      <span>664 935 688</span>
    </div>
  </div>

  <div class="persons__item">
    <img src="/assets/contact-persons/contact-persons-przemek.jpg" alt="">
    <h5>Przemek (sprzedaż hurtowa)</h5>
    <div class="persons__phone">
      <img src="/assets/images/phone.svg" alt="">
      <span>504 519 161</span>
    </div>
  </div>
</div>