.persons {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 40px;

  @media(max-width: 678px) {
    flex-wrap: wrap;
  }

  &__item {
    width: 24%;
    text-align: center;

    @media(max-width: 678px) {
      width: 48%;
      margin-bottom: 20px;
    }

    & h5 {
      margin: 14px 0;
      font-weight: 500;
      font-size: 18px;
      display: block;
      min-height: 50px;
    }

    & p {
      font-size: 14px;
      color: #d3d3d3;
    }
  }

  &__phone {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    & span {
      font-size: 16px;
    }

    & img {
      margin-right: 8px;
    }
  }
}