<div class="container">
  <div class="our-vision">
    <div class="our-vision__dark-quare"></div>
    <div class="our-vision__img">
      <img src="/assets/images/home-our-vision.jpg" width="100%" alt="">
    </div>
    <div class="our-vision__text">
      <h3 class="section-title">Nasza wizja</h3>
      <p>Naszą wizją jest przede wszystkim zaspokajanie 
        potrzeb krajowego rynku w myśl idei „dobre, bo 
        polskie”, oraz zapewnianie najwyższej jakości 
        materiału odbiorcom zagranicznym, których grono powiększa się z roku na rok. Chcemy wyróżniać 
        się nie tylko wyborną jakością materiału roślinnego, 
        ale i najwyższym poziomem obsługi Klientów.</p>
    </div>
  </div>
</div>