.paginator {
  display: flex;
  box-sizing: border-box;

  &__arrow, &__page, &__dots, &__current-page {
    width: 45px;
    height: 45px;
    background-color: #0B0B0D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border-radius: 4px;
  }

  &__arrow, &__page {
    cursor: pointer;
    transition: 200ms ease-in-out;

    &:hover {
      background-color: #CC000A;
    }
  }

  &__page, &__arrow:nth-last-child(1), &__dots {
    margin-left: 10px;
  }

  &__current-page {
    margin-left: 10px;
  }
}

.active {
  background-color: #CC000A !important;
}