<app-header
  [title]="(offerTranslations$ | async)!.name"
  description=""
  [backgroundUrl]="(offerTranslations$ | async)!.image"
  [overlays]="[HeaderOverlays.BILATERAL_OVERLOAD]">
</app-header>

<div class="content">

  <div class="container">
    <app-offer-tools-bar></app-offer-tools-bar>
    <div class="grid-container">
      <app-offer-grid *ngIf="!(loading$ | async)"></app-offer-grid>
      <app-loading-indicator [loading]="(loading$ | async)!"></app-loading-indicator>
    </div>
    <div class="paginator">
      <app-paginator [page]="(page$ | async)!" [totalPages]="(totalPages | async)!" (onPageChange)="onPageChanged($event)"></app-paginator>
    </div>


  </div>

  <div class="section-divider-right"></div>

  <app-footer></app-footer>
</div>


<app-offer-item-details-dialog *ngIf="dialogItem$ | async" [item]="(dialogItem$ | async)!"></app-offer-item-details-dialog>