<app-header
  title="Odmiany własne"
  description="Z przyjemnością przedstawiamy Państwu i oddajemy Państwa ocenie odmiany roślin wyhodowane w naszym gospodarstwie. Jesteśmy niezmiernie ciekawi, czy jakieś pozycje przyciągną Państwa uwagę oraz czy zechcą Państwo propagować je szerokim rzeszom swoich klientów. Zapraszamy do naszej szkółki, gdzie pasja łączy się z profesjonalizmem."
  backgroundUrl="/assets/images/header-own-varieties.jpg"
  [overlays]="[HeaderOverlays.RIGHT_OVERLOAD]">
</app-header>

<div class="content">
  <div class="own-varieties">
    <div class="container">
      <app-own-varieties-item-left-text [item]="(ownVarietyTranslations$ | async)!.website_sections[0]"></app-own-varieties-item-left-text>
      <app-own-varieties-item-right-text [item]="(ownVarietyTranslations$ | async)!.website_sections[1]"></app-own-varieties-item-right-text>
    </div>

    <div class="section-divider-left"></div>
  </div>
  
  <!-- <div class="container">
    <div class="own-varieties__paginator">
      <app-paginator [totalPages]="20" [page]="(page$ | async)!" (onPageChange)="handlePageChanged($event)"></app-paginator>
    </div>
  </div> -->

  <!-- <div class="section-divider-right"></div> -->

  <app-footer></app-footer>
</div>