.header {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  position: relative;
  background: center/cover no-repeat rgba(0, 0, 0, .45);
  box-sizing: border-box;

  &__media video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  & .left-curtain {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 120px;

    @media(max-width: 1220px) {
      display: none;
    }
  }

  & .right-curtain {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 120px;

    @media(max-width: 1220px) {
      display: none;
    }
  }

  & .container {
    width: 100%;
  }

  &__title, &__comp-name {
    font-size: 56px;
    display: block;
    max-width: 660px;
    margin: 0;
  }

  &__desc {
    max-width: 420px;
  }
}

.row-positioned {
  max-width: 1140px;
  width: 100%;
  padding: 15px;
  height: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  bottom: 120px;
  box-sizing: border-box;

  @media(max-width: 768px) {
    display: none;
  }
}

.arrow-container {
  display: flex;
  align-items: center;
  cursor: pointer;

  & span {
    font-weight: 500;
  }

  & img {
    margin-right: 10px;
     
  }
}

.scroll-target {
  position: absolute;
  bottom: -100px;
}

.social-media {
  display: flex;
  justify-content: flex-end;
}