<app-header
  [title]="(contactTranslations$ | async)!.name"
  description=""
  [backgroundUrl]="(contactTranslations$ | async)!.image"
  [overlays]="[HeaderOverlays.BILATERAL_OVERLOAD]">
</app-header>

<div class="content">

  <div class="container">
    <app-contact-form [section]="(contactTranslations$ | async)!.website_sections[0]"></app-contact-form>
    <app-contact-persons></app-contact-persons>
    <app-contact-map></app-contact-map>
  </div>

  <div class="section-divider-right"></div>

  <app-footer></app-footer>
</div>