<div class="container">
  <h3 class="section-title">Dodatkowe informacje</h3>
  <div class="additional-info">

    <div class="additional-info__item" *ngFor="let item of items">
      <div class="additional-info__belt">
        <h4>{{ item.name }}</h4>
        <div class="additional-info__button" (click)="setIsOpen(item.id)">
          <img src="/assets/images/plus.svg" *ngIf="isOpen !== item.id" alt="">
          <img src="/assets/images/minus.svg" *ngIf="isOpen === item.id" alt="">
        </div>
      </div>
      <div class="additional-info__collapsed-content" [@slideInOut]="isOpen === item.id ? 'in' : 'out'">
        <div [innerHTML]="item.content"></div>
      </div>
    </div>

  </div>
</div>