<div class="container">
  <div class="protection-book">
    <div class="protection-book__dark-quare"></div>
    <div class="protection-book__text">
      <p>Naszą wizją jest przede wszystkim zaspokajanie 
        potrzeb krajowego rynku w myśl idei „dobre, bo 
        polskie”, oraz zapewnianie najwyższej jakości 
        materiału odbiorcom zagranicznym, których grono powiększa się z roku na rok. Chcemy wyróżniać 
        się nie tylko wyborną jakością materiału roślinnego, 
        ale i najwyższym poziomem obsługi Klientów.</p>
    </div>
    <div class="protection-book__img">
      <img src="/assets/images/home-protection-book.jpg" width="100%" alt="">
    </div>
  </div>
</div>