<div class="container">
  <div class="full-offer">
    <div class="full-offer__img">
      <img src="/assets/images/home-full-offer.jpg" width="100%" alt="">
    </div>

    <div class="full-offer__text">
      <p>Staramy się na bieżąco śledzić pojawiające się na rynku nowe odmiany roślin, oraz wprowadzać je do uprawy, 
        aby mogli Państwo każdego roku nabyć nowości. Możemy poszczycić się wysoko wykwalifikowaną kadrą, będącą do Państwa dyspozycji i zapewniającą fachowe doradztwo.</p>

        <p>Mamy nadzieję, że nasi Klienci docenią wartości, którymi się kierujemy, a dzięki zmianie nazwy i logo, rośliny przez nas sprzedawane będą jeszcze bardziej cenione i rozpoznawalne na rynku.</p>

        <p>Serdecznie Państwa zachęcamy do zapoznania się 
          ze szczegółową ofertą, a w niedalekiej przyszłości odwiedzenia naszej szkółki i nawiązania korzystnej 
          dla obu stron współpracy.</p>

        <button class="btn">Zobacz pełną ofertę</button>
    </div>
  </div>
</div>