<div class="container">
  <div class="about-us">
    <div class="about-us__img">
      <img src="/assets/images/home-about-us.jpg" alt="">
      <div class="dark-square"></div>
    </div>
    <div class="about-us__text">
      <h3 class="section-title">O nas</h3>
      <p>Zapraszamy Państwa do Szkółki z kilkudziesięcioletnią tradycją, którą od roku 2015 prezentujemy pod nową nazwą 
        i z nowym logo. <span class="red-text">A&M Kałuzińscy Szkółka Polskie Korzenie</span> znajduje się w Boczkach-Parcela 14, w gminie Szadek, 
        w województwie łódzkim.</p>
    </div>
  </div>
</div>