<div class="footer">
  <div class="container">

    <div class="footer__nav">
      <div class="footer__nav-item" [routerLink]="'/offer'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <span>{{ getTranslation('oferta') | async }}</span>
      </div>

      <div class="footer__nav-item" [routerLink]="'/own-varieties'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <span>{{ getTranslation('odmiany') | async }}</span>
      </div>

      <div class="footer__nav-item" [routerLink]="'/selling-conditions'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <span>{{ getTranslation('warunkisprzedazy') | async }}</span>
      </div>

      <div class="footer__nav-item" [routerLink]="'/selling-points'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <span>{{ getTranslation('punktsprzedazy') | async }}</span>
      </div>

      <div class="footer__nav-item" [routerLink]="'/orders'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <span>{{ getTranslation('zamowienia') | async }}</span>
      </div>

      <div class="footer__nav-item" [routerLink]="'/contact'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <span>{{ getTranslation('kontakt') | async }}</span>
      </div>
    </div>

    <div class="divider"></div>


    <div class="footer__bottom">
      <div class="footer__left-side">
        <h5>A&M Kałuzińscy</h5>
        <div class="footer__social">
          <app-social-buttons></app-social-buttons>
        </div>
        <span>{{ getTranslation('copyright') | async }}</span>
      </div>
      
      <div class="footer__right-side">
        <h5>{{ getTranslation('newsletter') | async }}</h5>
        <div class="footer__newsletter">
          <input type="text" [formControl]="emailControl" [placeholder]="getTranslation('kontakt_email') | async" class="footer__newsletter-input">
          <button class="btn" (click)="newsletter()">{{ getTranslation('zapisz') | async }}</button>
        </div>
      </div>
    </div>

  </div>
</div>