<div class="filters" *ngIf="isOpen">
  <div class="filters__header">
    <h3>{{ getCoreTranslation('wyszukiwarka_zaawansowana') | async }}</h3>
    <div class="filters__buttons">
      <button class="btn" (click)="clear()">{{ getCoreTranslation('wyczysc_filtry') | async }}</button>
      <button class="btn btn-filled" (click)="apply()">{{ getCoreTranslation('zastosuj_filtry') | async }}</button>
    </div>
  </div>
  
  <div class="filters__content" *ngIf="isOpen">
    <app-dropdown
      #dropdown
      [options]="(filtersHabit$ | async)!"
      [isMultiSelect]="true"
      [placeholder]="(getCoreTranslation('pokroj') | async)!"
      [parent]="this"
      (selectedOptionChange)="filterChanged($event, FiltersArrayKey.HABIT)">
    </app-dropdown>
    
    <app-dropdown
      #dropdown
      [options]="(filtersBlooming$ | async)!"
      [isMultiSelect]="true"
      [placeholder]="(getCoreTranslation('kwitnienie') | async)!"
      [parent]="this"
      (selectedOptionChange)="filterChanged($event, FiltersArrayKey.BLOOMING)">
    </app-dropdown>
  
    <app-dropdown
      #dropdown
      [options]="(filtersSoil$ | async)!"
      [isMultiSelect]="true"
      [placeholder]="(getCoreTranslation('gleby') | async)!"
      [parent]="this"
      (selectedOptionChange)="filterChanged($event, FiltersArrayKey.SOIL)">
    </app-dropdown>
  
    <app-dropdown
      #dropdown
      [options]="(filtersApplication$ | async)!"
      [isMultiSelect]="true"
      [placeholder]="(getCoreTranslation('zastosowanie') | async)!"
      [parent]="this"
      (selectedOptionChange)="filterChanged($event, FiltersArrayKey.APPLICATION)">
    </app-dropdown>
  
    <app-dropdown
      #dropdown
      [options]="(filtersHabitType$ | async)!"
      [isMultiSelect]="true"
      [placeholder]="(getCoreTranslation('typ_pokroju') | async)!"
      [parent]="this"
      (selectedOptionChange)="filterChanged($event, FiltersArrayKey.HABIT_TYPE)">
    </app-dropdown>
  
    <app-dropdown
      #dropdown
      [options]="(filtersPosition$ | async)!"
      [isMultiSelect]="true"
      [placeholder]="(getCoreTranslation('stanowisko') | async)!"
      [parent]="this"
      (selectedOptionChange)="filterChanged($event, FiltersArrayKey.POSITION)">
    </app-dropdown>
  
    <app-dropdown
      #dropdown
      [options]="(filtersGrowthRate$ | async)!"
      [isMultiSelect]="true"
      [placeholder]="(getCoreTranslation('szybkosc_wzrostu') | async)!"
      [parent]="this"
      (selectedOptionChange)="filterChanged($event, FiltersArrayKey.GROWTH_RATE)">
    </app-dropdown>
  
    <app-dropdown
      #dropdown
      [options]="(filtersShowOnly$ | async)!"
      [isMultiSelect]="true"
      [placeholder]="(getCoreTranslation('wyswietl_tylko') | async)!"
      [parent]="this"
      (selectedOptionChange)="filterChanged($event, FiltersArrayKey.SHOW_ONLY)">
    </app-dropdown>
  </div> 
</div>