<app-header
  title="Zamówienia"
  description=""
  backgroundUrl="/assets/images/header-orders.jpg"
  [overlays]="[HeaderOverlays.BILATERAL_OVERLOAD]">
</app-header>

<div class="content">

  <div class="container">
    <div class="orders">
      <div class="orders__left-side">
        <h4>Zamówienie z adresem i numerem telefonu zamawiającego oraz terminem realizacji, można składać:</h4>
        <p>Osobiście w siedzibie Szkółki pod adresem <br/>
          Boczki-Parcela 14, gm. Szadek, woj. łódzkie</p>

        <p>E-mailem: biuro@kaluzinscy.pl za pomocą formularza</p>

        <div class="download-form-btn">
          <img src="/assets/images/cloud-download.svg" alt="">
          <span>Pobierz formularz</span>
        </div>

        <p>Zamówienia na wiosnę, składane przed końcem zimy, przyjmowane są z zastrzeżeniem, iż sprzedawca nie odpowiada za zniszczenia spowodowane warunkami atmosferycznymi i w przypadku wystąpienia zniszczeń sprzedawca zwolniony jest z obowiązku dotrzymania potwierdzonych rezerwacji.</p>
        <p>Potwierdzone zamówienia realizowane są według kolejności terminów odbiorów. W przypadku nie zgłoszenia się odbiorcy w wyznaczonym terminie, zamówienie zostaje anulowane.</p>
      </div>

      <div class="orders__right-side">
         <img src="/assets/images/orders-gallery.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="section-divider-right"></div>

  <app-footer></app-footer>
</div>