.orders {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0;

  @media(max-width: 678px) {
    flex-wrap: wrap;
  }

  &__left-side {
    width: 50%;
    @media(max-width: 976px) {
      width: 80%;
    }

    @media(max-width: 678px) {
      width: 100%;
    }
  }

  &__right-side {
    width: 48%;

    @media(max-width: 678px) {
      width: 100%;
    }

    & img {
      width: 100%;
    }
  }
}

.download-form-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 200ms ease-in-out;
  width: 220px;
  
  & span {
    font-weight: 500;
  }

  &:hover {
    transform: translateY(2px);
  }

  & img {
    margin-right: 8px;
  }
}