<app-header
  title="Szkółka Polskie Korzenie"
  description="Mamy przyjemność przedstawić Państwu naszą ofertę na ozdobny materiał szkółkarski produkowany w gospodarstwie szkółkarskim A&M Kałuzińscy Szkółka Polskie Korzenie zlokalizowanym w miejscowości Boczki w gminie Szadek w województwie łódzkim."
  backgroundUrl="/assets/images/header-home.jpg"
  [showCompanyName]="true"
  [overlays]="[HeaderOverlays.CURTAIN, HeaderOverlays.LEFT_OVERLOAD]">
</app-header>

<div class="content">
  <app-home-about-us></app-home-about-us>
  <div class="section-divider-left"></div>
  <app-home-our-offer></app-home-our-offer>
  <div class="section-divider-right"></div>
  <app-home-our-vision></app-home-our-vision>
  <div class="section-divider"></div>
  <app-home-our-mission></app-home-our-mission>
  <div class="section-divider-center"></div>
  <app-home-awards></app-home-awards>
  <div class="section-divider-left"></div>
  <app-home-protection-book></app-home-protection-book>
  <div class="section-divider"></div>
  <app-home-full-offer></app-home-full-offer>
  <div class="section-divider-right"></div>

  <app-footer></app-footer>
</div>