<app-header
  [title]="(homeTranslations$ | async)!.name"
  [description]="(homeTranslations$ | async)!.short_description"
  [backgroundUrl]="(homeTranslations$ | async)!.image"
  [showCompanyName]="true"
  [overlays]="[HeaderOverlays.CURTAIN, HeaderOverlays.LEFT_OVERLOAD]">
</app-header>

<div class="content">
  <app-home-about-us [section]="(homeTranslations$ | async)!.website_sections[0]"></app-home-about-us>
  <div class="section-divider-left"></div>
  <app-home-our-offer [section]="(homeTranslations$ | async)!.website_sections[1]"></app-home-our-offer>
  <div class="section-divider-right"></div>
  <app-home-our-vision [section]="(homeTranslations$ | async)!.website_sections[2]"></app-home-our-vision>
  <div class="section-divider"></div>
  <app-home-our-mission [section]="(homeTranslations$ | async)!.website_sections[3]"></app-home-our-mission>
  <div class="section-divider-center"></div>
  <app-home-awards></app-home-awards>
  <div class="section-divider-left"></div>
  <app-home-protection-book [section]="(homeTranslations$ | async)!.website_sections[5]"></app-home-protection-book>
  <div class="section-divider"></div>
  <app-home-full-offer [section]="(homeTranslations$ | async)!.website_sections[6]"></app-home-full-offer>
  <div class="section-divider-right"></div>

  <app-footer></app-footer>
</div>