<div class="form">
  <div class="form__left-side">
    <h3 class="section-title">A&M Kałuzińscy <br/>Szkółka Polskie Korzenie</h3>
    <p>Boczki-Parcela 14 <br />98-240 Szadek</p>
    <span>GPS N: 51° 42' 53" E: 18° 51' 52"</span>
  </div>

  <form class="form__right-side" [formGroup]="form">

    <div class="form__fullname">
      <input id="fullName" type="text" placeholder="Imię i nazwisko" formControlName="fullName">
    </div>

    <div class="form__company">
      <input id="company" type="text" placeholder="Firma" formControlName="company">
    </div>

    <div class="form__phone">
      <input id="phone" type="text" placeholder="Telefon" formControlName="phone">
    </div>

    <div class="form__street">
      <input id="street" type="text" placeholder="Ulica" formControlName="street">
    </div>

    <div class="form__city">
      <input id="city" type="text" placeholder="Miasto" formControlName="city">
    </div>

    <div class="form__email">
      <input id="email" type="text" placeholder="Adres e-mail" formControlName="email">
    </div>

    <div class="form__message">
      <textarea id="message" rows="4" type="text" placeholder="Wiadomość" formControlName="message"></textarea>
    </div>

    <button class="send-btn" (click)="send()">Wyślij</button>

  </form>
</div>