<div class="form">
  <div class="form__left-side">
    <h3 class="section-title" [innerHTML]="section.title"></h3>
    <div [innerHTML]="section.content"></div>
  </div>

  <form class="form__right-side" [formGroup]="form">

    <div class="form__fullname">
      <input id="fullName" type="text" [placeholder]="getTranslation('kontakt_imie_nazwisko') | async" formControlName="fullName">
    </div>

    <div class="form__company">
      <input id="company" type="text" [placeholder]="getTranslation('kontakt_firma') | async" formControlName="company">
    </div>

    <div class="form__phone">
      <input id="phone" type="text" [placeholder]="getTranslation('kontakt_telefon') | async" formControlName="phone">
    </div>

    <div class="form__street">
      <input id="street" type="text" [placeholder]="getTranslation('kontakt_ulica') | async" formControlName="street">
    </div>

    <div class="form__city">
      <input id="city" type="text" [placeholder]="getTranslation('kontakt_miasto') | async" formControlName="city">
    </div>

    <div class="form__email">
      <input id="email" type="text" [placeholder]="getTranslation('kontakt_email') | async" formControlName="email">
    </div>

    <div class="form__message">
      <textarea id="message" rows="4" type="text" [placeholder]="getTranslation('kontakt_wiadomosc') | async" formControlName="message"></textarea>
    </div>

    <button class="send-btn" (click)="send()">{{ getTranslation('wyslij_form_kontaktowy') | async }}</button>

  </form>
</div>