<div class="container">
  <div class="week-recommendation">
    <h3 class="section-title">W tym tygodniu polecamy</h3>
    <div class="week-recommendation__images">

      <div class="week-recommendation__image">
        <img src="/assets/images/selling-points-recommendation-1.jpg" alt="">
        <span>Acer palmatum 'Atropurpureum'</span>
      </div>

      <div class="week-recommendation__image">
        <img src="/assets/images/selling-points-recommendation-2.jpg" alt="">
        <span>Acer palmatum 'Bloodgood'</span>
      </div>

      <div class="week-recommendation__image">
        <img src="/assets/images/selling-points-recommendation-3.jpg" alt="">
        <span>Acer palmatum 'Crimson Queen'</span>
      </div>

    </div>
  </div>      
</div>