.week-recommendation {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 100px;

  &__images {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    @media(max-width: 486px) {
      flex-wrap: wrap;
    }
  }

  &__image {
    width: 32%;

    @media(max-width: 486px) {
      width: 400%;
      margin-bottom: 20px;
    }

    & img {
      width: 100%;
      margin-bottom: 12px;

      @media(max-width: 486px) {
        margin-bottom: 6px;
      }
    }

    & span {
      font-weight: 400;
    }
  }
} 