<div class="container">
  <div class="basic-info">
    <div class="basic-info__img">
      <img src="/assets/images/selling-points-basic-info.jpg" alt="">
    </div>
    <div class="basic-info__text">
      <p>Szanowni Państwo,
        mamy zaszczyt poinformować, że przy naszej szkółce 
        w Boczkach znajduje się Punkt Sprzedaży Detalicznej.</p>
      <p>Punkt działa "na wezwanie", prosimy dzwonić domofonem, 
        lub telefonicznie w przypadku zamkniętej bramy.</p>

      <div class="basic-info__contact">
        <div class="basic-info__phone">
          <img src="/assets/images/phone.svg" alt="">
          <span>514 878 454</span>
        </div>
  
        <div class="basic-info__email">
          <img src="/assets/images/email.svg" alt="">
          <span>detal@kaluzinscy.pl</span>
        </div>
      </div>

      <p class="basic-info__opening_hours-title">Godziny otwarcia</p>
      <div class="basic-info__opening_hours">
        <div>
          <span class="red">Pn-Pt: </span>
          <span>8:00 - 15:30</span>
        </div>
        <div>
          <span class="red">Sob: </span>
          <span>7:00 - 12:30</span>
        </div>
      </div>
    </div>
  </div>
</div>