<div class="details-text">
  <div class="divider" *ngIf="item.description"></div>
  <div class="details-text__description">
    <p>{{ item.description }}</p>
  </div>
  <div class="divider" *ngIf="item.description"></div>
  <div class="details-text__param">
    <p>Wysokość po 10 latach (cm):</p>
    <p>{{ item.height_after_10_years }}</p>
  </div>
  <div class="details-text__param">
    <p>Szerokośc po 10 latach (cm):</p>
    <p>{{ item.width_after_10_years }}</p>
  </div>
  <div class="details-text__param">
    <p>Pokrój:</p>
    <p>{{ item.plant_type_of_habit?.name }}</p>
  </div>
  <div class="details-text__param">
    <p>Stanowisko:</p>
    <p>{{ item.plant_position?.name }}</p>
  </div>
  <div class="details-text__param">
    <p>Gleby:</p>
    <p>{{ item.plant_soil?.name }}</p>
  </div>
</div>