<div class="details-text">
  <div class="details-text__containers">
    <p>Dostępne pojemniki:</p>
    <p>{{ item.details.available_containers }}</p>
  </div>
  <div class="divider"></div>
  <div class="details-text__description">
    <p>{{ item.details.desc }}</p>
  </div>
  <div class="divider"></div>
  <div class="details-text__param">
    <p>Wysokość po 10 latach (cm):</p>
    <p>{{ item.details.height_after_10_years }}</p>
  </div>
  <div class="details-text__param">
    <p>Szerokośc po 10 latach (cm):</p>
    <p>{{ item.details.width_after_10_years }}</p>
  </div>
  <div class="details-text__param">
    <p>Pokrój:</p>
    <p>{{ item.details.habit }}</p>
  </div>
  <div class="details-text__param">
    <p>Stanowisko:</p>
    <p>{{ item.details.position }}</p>
  </div>
  <div class="details-text__param">
    <p>Gleby:</p>
    <p>{{ item.details.soil }}</p>
  </div>
</div>