<div class="navbar">
  <div class="container" style="position: relative;">
    <div class="navbar__logo" [routerLink]="'/'">
      <img src="/assets/images/logo.png" alt="">
    </div>
    <div class="navbar__items">
      <div class="navbar__item" [routerLink]="'/offer'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <span>{{ getTranslation('oferta') | async }}</span>
      </div>
      <div class="navbar__item" [routerLink]="'/own-varieties'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <span>{{ getTranslation('odmiany') | async }}</span>
      </div>
      <div class="navbar__item" [routerLink]="'/selling-conditions'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <span>{{ getTranslation('warunkisprzedazy') | async }}</span>
      </div>
      <div class="navbar__item" [routerLink]="'/selling-points'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <span>{{ getTranslation('punktsprzedazy') | async }}</span>
      </div>
      <div class="navbar__item" [routerLink]="'/orders'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <span>{{ getTranslation('zamowienia') | async }}</span>
      </div>
      <div class="navbar__item" [routerLink]="'/contact'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <span>{{ getTranslation('kontakt') | async }}</span>
      </div>
    </div>
    <div class="navbar__lang">
      <app-lang-selector></app-lang-selector>
    </div>
  </div>
</div>