<app-header
  title="Punkt sprzedaży"
  description=""
  backgroundUrl="/assets/images/header-selling-points.jpg"
  [overlays]="[HeaderOverlays.BILATERAL_OVERLOAD]">
</app-header>

<div class="content">

  <app-selling-points-basic-info></app-selling-points-basic-info>
  <app-selling-points-map></app-selling-points-map>

  <div class="section-divider-left"></div>

  <app-selling-points-week-recommendation></app-selling-points-week-recommendation>

  <div class="section-divider-right"></div>
  
  <app-footer></app-footer> 
</div>