<app-header
  [title]="(sellingPointsTranslations$ | async)!.name"
  description=""
  [backgroundUrl]="(sellingPointsTranslations$ | async)!.image"
  [overlays]="[HeaderOverlays.BILATERAL_OVERLOAD]">
</app-header>

<div class="content">

  <app-selling-points-basic-info [section]="(sellingPointsTranslations$ | async)!.website_sections[0]"></app-selling-points-basic-info>
  <app-selling-points-map></app-selling-points-map>

  <div class="section-divider-left"></div>

  <app-selling-points-week-recommendation></app-selling-points-week-recommendation>

  <div class="section-divider-right"></div>
  
  <app-footer></app-footer> 
</div>