.hover-box {
  position: absolute;
  width: 420px;
  min-height: 420px;
  background-color: #0c0c0d;
  top: 0;
  z-index: 1000;
  border-radius: 4px;
  border: 2px solid #4f4f4f;
  padding: 15px;

  &.right {
    right: -460px;
    left: unset;
  }

  &.left {
    left: -460px;
    right: unset;
  }
}